@model Text
<div>
    <h1>Text Editing</h1>
</div>
<br />
<div id="form" class="row">
    @using (Html.BeginForm("Editing", "OpenAI", FormMethod.Post))
    {
        @(
        Html.DevExtreme().Form<Text>()
            .ShowValidationSummary(true)
            .Items(_ =>
            {
                _.AddGroup()
                .Items(_ =>
                {
                    _.AddSimpleFor(_ => _.UserText);
                    _.AddSimpleFor(_ => _.Task)
                        .Editor(_ => _.SelectBox().DataSource(new[]
                        {
                            "Spelling", "Paraphrase", "Translate"
                        }));
            });
            _.AddButton()
            .HorizontalAlignment(HorizontalAlignment.Left)
            .ButtonOptions(_ => _.Text("Submit")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
            );
        })
        .FormData(Model)
        )
    }
</div>

@if (ViewBag.Response != null)
{
    <hr />
    <div>
        <h4>@ViewBag.Text</h4>
        <div style="background-color: rgba(247,247,248); min-height: 50px;">
            <p>@ViewBag.Response</p>
        </div>
    </div>
}