@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:10%;">
    <div class="container">
        <div class="row">
            <h1 class="center">Open AI</h1>
            <p></p>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col">
                <h3>Chat</h3>
                <p>
                    The OpenAI Chat API is a powerful tool provided by OpenAI that allows developers to integrate natural language understanding and generation capabilities into their applications. It enables interactive and dynamic conversations with AI models.

                    Using the OpenAI Chat API, you can have back-and-forth conversations with the model by sending a series of messages as input and receiving the model's generated response.
                </p>
            </div>
            <div class="col">
                <h3>Text Editor</h3>
                <p>
                    The OpenAI Text-Edit-Davinci API enables developers to integrate advanced text generation capabilities into their applications. With this API, you can: 

                    ; Generate code snippets or complete pieces of code based on prompts or specifications provided.

                    ; Ask the API questions and receive informative and contextual responses.

                    ; Build chatbots.

                    ; Implement language translation functionality.

                    ; Summarize lengthy texts or articles .
                </p>
            </div>
            <div class="col">
                <h3>Image Generator</h3>
                <p>
                    OpenAI provides an API called the OpenAI Image Generator API, which allows developers to generate images based on textual descriptions. It leverages advanced deep learning models to interpret and generate images that correspond to given textual prompts.

                    The API accepts a text prompt as input and returns an image that represents the interpretation of the text. The generated images can vary in complexity, ranging from simple shapes or objects to more detailed scenes or concepts.
                </p>
            </div>
        </div>
    </div>
</div>