@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <h1 class="center">Open AI</h1>
            <p></p>
        </div>
        <div class="row">
            <div class="col">
                <h3>Chat</h3>
                <p>
                    The OpenAI Chat API is a powerful tool provided by OpenAI that allows developers to integrate natural language understanding and generation capabilities into their applications. It enables interactive and dynamic conversations with AI models.

                    Using the OpenAI Chat API, you can have back-and-forth conversations with the model by sending a series of messages as input and receiving the model's generated response.
                </p>
            </div>
            <div class="col">
                <h3>Text Editor</h3>
            </div>
            <div class="col">
                <h3>Image Generator</h3>
            </div>
        </div>
    </div>
</div>